# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
.venv/
env/

# VSCode / IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node modules (frontend React ke liye)
frontend/node_modules/
